<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/bio.css">
    <link rel="stylesheet" href="/css/style.css">   
</head>

<body>

    <div class="header_nav_mobile">
        <ul class="header_nav_mobile_list">
            <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
            <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
            <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
        </ul>
    </div>

    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
                <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
                <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
                <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
                <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
            </ul>
            <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
            <div class="header_nav_mobile_button">
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
            </div>
        </nav>
    </header>

    <main class="main">
        <p class="main_sub">
            La culture urbaine est une culture à part entière, très présente dans les quartiers. Elle regroupe les différentes spécialités du hip-hop. L’association Vibes permettra aux jeunes, avec comme support la culture hip-hop de découvrir les métiers de l’audiovisuel, grâce à la création d’une émission.
        </p>
        <p class="main_sub">
            Suite aux nombreux conflits inter-cités, au fossé social qui s’agrandit depuis des décennies, la jeunesse des banlieues est en recherche de repères et d’une vision positive du futur. L’association Vibes a pour intention de donner la parole et d’inclure les jeunes concernés afin de les impliquer et les introduire dans le monde des métiers de l’audiovisuel. A travers des contenus créatifs dont les instigateurs et les acteurs seront les jeunes eux-mêmes, l’idée est de leur donner la parole et les laisser s’exprimer de manière créative.
        </p>
        <p class="main_sub">
            L’association a créé Vibes TV qui est une chaîne de télévision de culture urbaine orientée sur le rap francophone, encadrée par des acteurs du milieu Hip-Hop, connus et reconnus, disposant d’une crédibilité solide, d’une réputation et d’une expérience de 20 ans dans ce métier. 
        </p>
        <p class="main_sub">
            A l’heure actuelle, la musique urbaine est la musique la plus populaire au sein de la tranche d’âge 18 – 30 ans, la musique la plus écoutée et la plus « streamée ». Elle représente en effet 85% des ventes de musique actuelles. Le streetwear en représente 70%. Vibes TV représente un intérêt majeur pour les acteurs vis-à-vis de l’approche de ce projet. A travers celui-ci, l’idée est de réunir des jeunes de tous horizons ethniques ou sociaux autour d’un intérêt commun qui est l’amour de cette culture urbaine.
        </p>
    </main>
    <script src="/js/header.js"></script>
</body>

</html>