<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/style.css">   
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="icon" type="image/png" href="/img/vibes_tv_logo_light.png"/>
</head>

<body>

    <div class="header_nav_mobile">
        <ul class="header_nav_mobile_list">
            <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
            <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
            <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/retrouver" class="header_nav_mobile_list_item_link">Où nous retrouver ?</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
        </ul>
    </div>

    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
                <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
                <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
                <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
                <li class="header_nav_list_item"><a href="/retrouver" class="header_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
            </ul>
            <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
            <div class="header_nav_mobile_button">
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
            </div>
        </nav>
    </header>

    <main class="main">

        <div class="main_wrapper">
            <!-- Partie gauche : Image -->
            <div class="main_image">
                <p class="main_txt">
                    Envie de partager votre dernier clip de rap avec nous ? Nous sommes impatients de découvrir votre talent ! Envoyez-nous le lien de votre vidéo à 
                    <a class="main_txt_email" href="mailto:commission.clips@vibestv.fr">commission.clips@vibestv.fr</a>
                </p>
            </div>

            <div class="main_contact">
                <div class="main_contact_wrapper">
                    <a class="main_contact_wrapper_link" href="https://www.tiktok.com/@vibes.tv.officiel">
                        <img src="/img/tiktok.png" alt="Logo de TikTok" class="main_contact_wrapper_img" />
                        <p class="main_contact_wrapper_sub">@vibes.tv.officiel</p>
                    </a>
                    <a class="main_contact_wrapper_link" href="https://www.instagram.com/vibes.tv.officiel/">
                        <img src="/img/insta.png" alt="Logo d'Instagram" class="main_contact_wrapper_img" />
                        <p class="main_contact_wrapper_sub">@vibes.tv.officiel</p>
                    </a>
                </div>

            </div>
        </div>
    
    </main>
    
    <footer class="footer">
        <div class="footer_content">
            <ul class="footer_nav_list">
                <li class="footer_nav_list_item"><a href="/" class="footer_nav_list_item_link">Accueil</a></li>
                <li class="footer_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="footer_nav_list_item_link">Direct</a></li>
                <li class="footer_nav_list_item"><a href="/bio" class="footer_nav_list_item_link">Bio</a></li>
                <li class="footer_nav_list_item"><a href="/programmes" class="footer_nav_list_item_link">Programmes</a></li>
                <li class="footer_nav_list_item"><a href="/retrouver" class="footer_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="footer_nav_list_item"><a href="/contact" class="footer_nav_list_item_link">Contact</a></li>
            </ul>
        </div>
    
        <div class="footer_info">
            <p>&copy; 2024 Vibestv. Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="/js/header.js"></script>
</body>

</html>


<!-- <a class="main_contact_wrapper_link" href="https://www.facebook.com/people/VibesTvOfficiel/100094104161500/">
    <img src="/img/facebook.png" alt="logo de Facebook" class="main_contact_wrapper_img" />
    <p class="main_contact_wrapper_sub">@VibesTvOfficiel</p>
</a>

<a class="main_contact_wrapper_link" href="https://twitter.com/vibestvofficiel">
    <img src="/img/x.webp" alt="logo de X" class="main_contact_wrapper_img" />
    <p class="main_contact_wrapper_sub">@vibestvofficiel</p>
</a>

<a class="main_contact_wrapper_link" href="https://www.youtube.com/@VibesTv.officiel">
    <img src="/img/youtube.png" alt="logo de Youtube" class="main_contact_wrapper_img" />
    <p class="main_contact_wrapper_sub">@VibesTv.officiel</p>
</a> -->

