<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/style.css">   
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" href="/img/vibes_tv_logo_light.png"/>
</head>

<body>
  <div class="header_nav_mobile">
    <ul class="header_nav_mobile_list">
        <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
        <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
        <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
        <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
        <li class="header_nav_mobile_list_item"><a  href="/retrouver" class="header_nav_mobile_list_item_link">Où nous retrouver ?</a></li>
        <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
    </ul>
</div>

<header class="header">
    <nav class="header_nav">
        <ul class="header_nav_list">
            <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
            <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
            <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
            <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
            <li class="header_nav_list_item"><a href="/retrouver" class="header_nav_list_item_link">Où nous retrouver ?</a></li>
            <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
        </ul>
        <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
        <div class="header_nav_mobile_button">
            <span class="header_nav_mobile_button_row"></span>
            <span class="header_nav_mobile_button_row"></span>
            <span class="header_nav_mobile_button_row"></span>
        </div>
    </nav>
</header>

    <main class="main">
      <div class="container_video">
        <div class="container_video_player">
          <video class="container_video_player_own" src="/img/jungle.mp4" controls ></video>
        </div>
      </div>

      <div class="container_txt">
        <div class="container_txt_first">          
          <h1>CHAINE DE TV</h1>
          <h2>FREEBOX CANAL 298</h2>
        </div>

        <div class="container_txt_second">
          <h3>MUSIQUE ET CULTURE</h3>
          <h4>URBAINE ET FRANCOPHONE</h4>
        </div>

      </div>
    </main>
    <script src="/js/carousel.js"></script>
    <script src="/js/header.js"></script>

    <footer class="footer">
      <div class="footer_content">
          <ul class="footer_nav_list">
              <li class="footer_nav_list_item"><a href="/" class="footer_nav_list_item_link">Accueil</a></li>
              <li class="footer_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="footer_nav_list_item_link">Direct</a></li>
              <li class="footer_nav_list_item"><a href="/bio" class="footer_nav_list_item_link">Bio</a></li>
              <li class="footer_nav_list_item"><a href="/programmes" class="footer_nav_list_item_link">Programmes</a></li>
              <li class="footer_nav_list_item"><a href="/retrouver" class="footer_nav_list_item_link">Où nous retrouver ?</a></li>
              <li class="footer_nav_list_item"><a href="/contact" class="footer_nav_list_item_link">Contact</a></li>
          </ul>
      </div>
  
      <div class="footer_info">
          <p>&copy; 2024 Vibestv. Tous droits réservés.</p>
      </div>
  </footer>

</body>

</html>