<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/style.css">   
    <link rel="stylesheet" href="/css/programmes.css">
    <link rel="icon" type="image/png" href="/img/vibes_tv_logo_light.png"/>
</head>

<body>

    <div class="header_nav_mobile">
        <ul class="header_nav_mobile_list">
            <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
            <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
            <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/retrouver" class="header_nav_mobile_list_item_link">Où nous retrouver ?</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
        </ul>
    </div>

    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
                <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
                <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
                <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
                <li class="header_nav_list_item"><a href="/retrouver" class="header_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
            </ul>
            <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
            <div class="header_nav_mobile_button">
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="programme">
            <div class="programme-item">
                <div class="text">
                    <h3>DISONS-NOUS LES CHOSES</h3>
                    <p>Créée par Bouba dit "Black 10", DLNC analyse les enjeux sociaux et donne la parole aux quartiers. Lundi à 22H.</p>
                </div>
                <div class="image">
                    <img src="/img/booba.jpg" alt="Image de DISONS-NOUS LES CHOSES">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>C'EST PAS DES LOL</h3>
                    <p>CPDL, présenté par Ilhem Bouzid, aborde des sujets de société comme la santé mentale et l'environnement. Mardi à 21H00.</p>
                </div>
                <div class="image">
                    <img src="/img/ilhem.jpg" alt="Image de C'EST PAS DES LOL">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>CUSTOM'ZER</h3>
                    <p>Animée par Berrim alias Blackdessinator, l'émission scrute l'art de la customisation avec des artistes et designers. Mercredi à 22H.</p>
                </div>
                <div class="image">
                    <img src="/img/berrim.jpg" alt="Image de CUSTOM'ZER">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>AVEC MES MOTS</h3>
                    <p>Olivier N’GUESSAN, journaliste, aborde la culture hip-hop avec des invités. Vendredi à 22H.</p>
                </div>
                <div class="image">
                    <img src="/img/olivier.jpg" alt="Image de AVEC MES MOTS">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>URBAN VIBES</h3>
                    <p>Urban Vibes, animé par Gladys Mignan, dévoile la culture urbaine à travers des interviews et des performances live. Dès début décembre 2024. Samedi à 22H00.</p>
                </div>
                <div class="image">
                    <img src="/img/gladys.jpg" alt="Image de URBAN VIBES">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>CENT % FEMMES</h3>
                    <p>Présentée par Nani, cette émission met en lumière les femmes entrepreneures et leurs réussites. Le dernier dimanche du mois à 21H00.</p>
                </div>
                <div class="image">
                    <img src="/img/nani.jpg" alt="Image de CENT % FEMMES">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>REPORTAGE</h3>
                    <p>Présentée par Devanee, l'émission explore la culture urbaine à travers des reportages. Début décembre 2024.</p>
                </div>
                <div class="image">
                    <img src="/img/devane.jpg" alt="Image de REPORTAGE">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>N2T</h3>
                    <p>N2T" est un talk-show animé par Sophia Joseph, explorant des histoires captivantes et les actualités des réseaux sociaux, avec des débats et interactions en temps réel avec la communauté.</p>
                </div>
                <div class="image">
                    <img src="/img/sohpia.jpg" alt="Image de N2T">
                </div>
            </div>
    
            <div class="programme-item">
                <div class="text">
                    <h3>Éducation Financière</h3>
                    <p>Éducation Financière présentée par Essama ATANGANA a pour objectif de démocratiser l’économie et l’investissement. Nous abordons chaque semaine un concept différent pour aider dans vos finances personnelles ou/et de votre entreprise.</p>
                </div>
                <div class="image">
                    <img src="/img/essama.jpg" alt="Image de Éducation Financière">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer_content">
            <ul class="footer_nav_list">
                <li class="footer_nav_list_item"><a href="/" class="footer_nav_list_item_link">Accueil</a></li>
                <li class="footer_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="footer_nav_list_item_link">Direct</a></li>
                <li class="footer_nav_list_item"><a href="/bio" class="footer_nav_list_item_link">Bio</a></li>
                <li class="footer_nav_list_item"><a href="/programmes" class="footer_nav_list_item_link">Programmes</a></li>
                <li class="footer_nav_list_item"><a href="/retrouver" class="footer_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="footer_nav_list_item"><a href="/contact" class="footer_nav_list_item_link">Contact</a></li>
            </ul>
        </div>
    
        <div class="footer_info">
            <p>&copy; 2024 Vibestv. Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="/js/header.js"></script>
</body>

</html>