<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/programmes.css">
    <link rel="stylesheet" href="/css/style.css">   
</head>

<body>

    <div class="header_nav_mobile">
        <ul class="header_nav_mobile_list">
            <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
            <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
            <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
        </ul>
    </div>

    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
                <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
                <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
                <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
                <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
            </ul>
            <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
            <div class="header_nav_mobile_button">
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
            </div>
        </nav>
    </header>

    <main class="main">
        <article class="main_article">
            <h2 class="main_article_title">01 - DLNC  DISONS NOUS LES CHOSES : </h2>
            <p class="main_article_sub">
                Crée en 2016 et présenté par Aboubakar Sakanoko dit “ Booba Black’10” DNLC est l’émission phare du média Blockout Radio.
            </p>
            <p class="main_article_sub">
                Chaque semaine l’émission aborde des thèmes de société liés a la valorisation et aux problématiques des habitants des quartiers dit “ populaires”.
            </p>
            <p class="main_article_sub">
                “Rendre visible l’invisible” tel est l’adage du média Blockout Radio
            </p>
        </article>

        <article class="main_article">
            <h2 class="main_article_title">02 -ART DE RUE  :  SOUAILA</h2>
            <p class="main_article_sub">
                L’émission consiste à présenter un artiste, de tout arts confondus, sous la forme de deux interviews et d’un Show Live animé, par une présentatrice, dans une ambiance unique, chaleureuse et humaine.
            </p>
            <p class="main_article_sub">
                Il s’agit d’un tremplin pour tout artiste souhaitant mettre en lumière sa créativité par la diffusion de clips sur la chaîne Vibes Tv.
            </p>
        </article>

        <article class="main_article">
            <h2 class="main_article_title">03 - LES DOSSIERS CACHÉS DU RAP GAME :  KILLER </h2>
            <p class="main_article_sub">
                Abordons les coulisses de l'univers urbain au travers de thèmes tels que le management, les droits voisins, l'enregistrement, copyright, société civile...   L’émission permettra de mieux comprendre la face cachée de la production artistique. 
            </p>
        </article>

        <article class="main_article">
            <h2 class="main_article_title">04 - EMISSION CUSTOM’ZER</h2>
            <p class="main_article_sub">
                Emission culturelle présentée par Blackdessinator, et axée sur l’art de la customisation. Nous accueillerons des artistes, mangakas, designers, portraitistes etc....qui nous partageront leur passion et leur expérience au sujet de cette activité artisanale et artistique. Que ce soit une paire de sneakers, une veste ou encore une console de jeux.. Tout est personnalisable et tout devient unique !            </p>
        </article>

        <article class="main_article">
            <p class="main_article_sub ita">
                L’ensemble de ces émissions permet d’aborder sous plusieurs formes l’univers de la culture urbaine.   
Nous avons également à cœur de mettre en avant la parité hommes/femmes dans un univers assez masculin mais où de vraies «  pépites » féminines gravitent.  
Nous souhaitons également sensibiliser la jeunesse sur un univers culturel vers lequel certains se passionnent aujourd’hui.   
            </p>
        </article>
    </main>
    <script src="/js/header.js"></script>
</body>

</html>