<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibesTv</title>
    <link rel="stylesheet" href="/css/style.css">   
    <link rel="stylesheet" href="/css/retrouver.css">
    <link rel="icon" type="image/png" href="/img/vibes_tv_logo_light.png"/>
</head>

<body>
    <div class="header_nav_mobile">
        <ul class="header_nav_mobile_list">
            <li class="header_nav_mobile_list_item"><a href="/"  class="header_nav_mobile_list_item_link">Acceuil</a></li>
            <li class="header_nav_mobile_list_item"><a  href="https://player.infomaniak.com?channel=72318&player=11865"  class="header_nav_mobile_list_item_link">Direct</a></li>
            <li class="header_nav_mobile_list_item"><a href="/bio" class="header_nav_mobile_list_item_link">Bio</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/programmes" class="header_nav_mobile_list_item_link">Programmes</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/retrouver" class="header_nav_mobile_list_item_link">Où nous retrouver ?</a></li>
            <li class="header_nav_mobile_list_item"><a  href="/contact" class="header_nav_mobile_list_item_link">Contact</a></li>
        </ul>
    </div>

    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_list_item"><a href="/" class="header_nav_list_item_link">Acceuil</a></li>
                <li class="header_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="header_nav_list_item_link">Direct</a></li>
                <li class="header_nav_list_item"><a href="/bio" class="header_nav_list_item_link">Bio</a></li>
                <li class="header_nav_list_item"><a href="/programmes" class="header_nav_list_item_link">Programmes</a></li>
                <li class="header_nav_list_item"><a href="/retrouver" class="header_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="header_nav_list_item"><a  href="/contact" class="header_nav_list_item_link">Contact</a></li>
            </ul>
            <img class="header_nav_logo" src="/img/vibes_tv_logo_light.png" alt="logo de vibesTv">
            <div class="header_nav_mobile_button">
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
                <span class="header_nav_mobile_button_row"></span>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="where-to-find">
            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Canal 298 de la Freebox</h2>
                <p>Accédez à notre chaîne sur le canal 298 de la Freebox.</p>
                <img class="img ltl" src="/img/free.png">
            </div>
            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Télévisions connectées via le Play Store</h2>
                <p>Disponible sur les télévisions connectées via le Play Store.</p>
            </div>
            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Applications mobiles</h2>
                <p>Retrouvez notre application sur iOS et Android, disponibles dans les stores.</p>
            </div>
            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Site Internet</h2>
                <p>Visitez notre site web à l'adresse <a href="https://www.vibestv.fr" class="main_txt_email" target="_blank">www.vibestv.fr</a>.</p>
            </div>
            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Molotov (courant 2025)</h2>
                <p>Nous serons également disponibles sur la plateforme Molotov à partir de 2025.</p>
                <img class="img" src="/img/molotov.png">
            </div>

            <div class="platform">
                <h2 class="main_contact_wrapper_sub">Orange (courant 2025)</h2>
                <p>Nous serons également disponibles sur Orange à partir de 2025.</p>
                <img class="img ltl" src="/img/orange.png">
            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="footer_content">
            <ul class="footer_nav_list">
                <li class="footer_nav_list_item"><a href="/" class="footer_nav_list_item_link">Accueil</a></li>
                <li class="footer_nav_list_item"><a href="https://player.infomaniak.com?channel=72318&player=11865" class="footer_nav_list_item_link">Direct</a></li>
                <li class="footer_nav_list_item"><a href="/bio" class="footer_nav_list_item_link">Bio</a></li>
                <li class="footer_nav_list_item"><a href="/programmes" class="footer_nav_list_item_link">Programmes</a></li>
                <li class="footer_nav_list_item"><a href="/retrouver" class="footer_nav_list_item_link">Où nous retrouver ?</a></li>
                <li class="footer_nav_list_item"><a href="/contact" class="footer_nav_list_item_link">Contact</a></li>
            </ul>
        </div>
    
        <div class="footer_info">
            <p>&copy; 2024 Vibestv. Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="/js/header.js"></script>
</body>

</html>