:root {
    --font-title: 60px;
    --font-title-second: 40px;
    --font-title-second-mobile: 30px;
    --font-txt: 17px;
    --bg-red: #871910;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: white;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.programme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Programme Box */
.programme-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B30000; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff; 
    border: 5px solid black;
    transition: transform 0.3s ease;
}

.programme-item:hover {
    transform: translateY(-10px); 
}


.text {
    flex: 1;
    padding: 20px;
}

.text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.text p {
    font-size: 1rem;
    color: #f0f0f0; 
}


.image {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-left: 2px solid #8B0000; 
}

.image img:hover {
    transform: scale(1.05);
}


@media (max-width: 980px) {
    .programme {
        grid-template-columns: 1fr;
    }

    .programme-item {
        flex-direction: column;
    }

    .image {
        width: 100%;
        height: 639px;
    }
}

@media (max-width: 480px) {
    .text h3 {
        font-size: 1.25rem;
    }

    .text p {
        font-size: 0.875rem;
    }
}